.city {
  --scale: 1;
  max-width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transform: translate(-50%, -50%);
}

.city__flag {
  width: 30px;
  height: 35px;
}

.city__title {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: #222;
  text-shadow: 
    0 0 4px #fff,
    0 0 4px #fff,
    0 0 4px #fff;
}

.channels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.channel {
  margin: 2.5px;
  width: 25px;
  height: 25px;
  background-color: #f2f2f2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
  cursor: pointer;
}

.ch_2,
.ch_6,
.ch_7 {
  order: 1;
  width: 80px;
  height: 20px;
}

.ch_3,
.ch_8 {
  order: 2;
  width: 40px;
  height: 20px;
}


.on {
  box-shadow: 0 0 0 2px #6e0, 0 0 5px #6e0;
}

.off {
  box-shadow: 
  inset 0 0 0 20px rgba(130,0,0,.5),
  0 0 0 2px #f30;
}
