.channel {
  position: relative;
  width: 0;
  height: 0;
}

.channel-logo {
  position: absolute;
  top: -20px;
  left: -20px;
  height: 40px;
  width: 40px;
  background-color: #ccc;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  cursor: pointer;
}

.on {
  box-shadow: 0 0 0 3px #fff;
}

.off {
  filter: grayscale(1) contrast(1.5) brightness(0.85);
  box-shadow: 0 0 0 3px #fff;
}
