.channels__column {
  display: inline-block;
  vertical-align: top;
}

.channel-logo {
  margin: 10px 15px;
  height: 40px;
  width: 30px;
  background-color: #ccc;
  background-position: center;
  background-size: cover;
  border-radius: 25% / 30%;
}

.on {
  filter: drop-shadow(0 0 0.5em #eee);
}

.off {
  filter: grayscale(1) contrast(1.5) brightness(0.8);
}
